.mainContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid salmon; */
    /* width: 100%; */
    height: 95vh;
    width: 100vw;
}

.mainText
{
    color: aliceblue;
    font-size: 14vh;
    text-align: center;
    /* border: 2px solid blue; */
    height: 50%;
    width: 100%;
    align-self: center;
    margin-top: 15%;
}

.mainBody
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.logoDiv
{
    /* border: 2px solid bisque; */
}

.tagLogo
{
    width: 40%;
}